{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}

{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email }} <br>
    {{ form.password.label }} {{ form.password }} <br>
    {{ form.first_name.label }} {{ form.first_name }} <br>
    {{ form.last_name.label }} {{ form.last_name }} <br>
    {{ form.birth_date.label }} {{ form.birth_date }} <br>
    {{ form.submit() }}
    {% if not session['logged_in'] %}
        <p>Masz konto? <a href="{{ url_for('login') }}">Zaloguj się</a></p>
    {% endif %}
</form>

{% endblock %}